<b>Aim:- Our task is to fetch Invention List and Inventor Information from Tutorialspoint and Store it in Tabular Format as well as in CSV Format Using Python.</b>

> <b>NOTE:-</b> This Module is dedicated for the Learning Purpose Only. <br/>

All the Necessary libraries used in this Module has been stated below:-

```
Library Requirments:-
1. pandas (to install type:- 'pip install pandas')
```

<b>Information and Usage of Library:-</b>

<b>1. pandas:- </b>
"pandas" is a Python package that provides fast, flexible, and expressive data structures designed to make working with structured (tabular, multidimensional, potentially heterogeneous) and time series data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, "real world data analysis in Python". Additionally, it has the broader goal of becoming "the most powerful and flexible open source data analysis / manipulation tool available in any language". It is already well on its way toward this goal. 

pandas is well suited for many different kinds of data. The <b>two primary data structures of pandas</b> stated below:-

<b>a. Series (1-Dimensional)</b>

<b>b. DataFrame (2-Dimensional)</b>

<br/>

<b>2. pandas.io.html:- </b>
"pandas.io.html" is a sub part of module "pandas.io" and this is already available in "pandas". "pandas.io" is a set of Pandas I/O API. For the top level of `reader` functions accessed like `pandas.read_csv()` that generally returns pandas object. The Corresponding `writer` functions are object methods that are accessed like `DataFrame.to_csv()`.

But in our Case we have Used `pandas.io.html` module. Which Provide us "Text Format Type" from the `reader` function `read.html` and leads to `writer` function `to_html`. In simple words we can Conclude that "pandas.io.html" Module has been used for Read HTML tables into a `list` of `DataFrame` Objects.

In [1]:
# Importing all the Important Libraries
import pandas as pd
from pandas.io.html import read_html

<h2>Fetch Table Content from URL in Tabular Format</h2>

In [2]:
# Extract Website Content and Store it into Website URL Variable
website_url = 'https://www.tutorialspoint.com/physics_part2/inventions_and_inventors_in_physics.htm'

# Read HTML Data and Fetch Tabular Data
tutorials_point_table = read_html(website_url,  attrs = {"class":"table table-bordered"}, header = None)

# Print Number of Tables Extracted
print ("\nExtracted {num} Tutorialspoint Tables".format(num = len(tutorials_point_table)), "\n")

Extracted 1 Tutorialspoint Tables

In [3]:
# Print Fetched Data in Tabular Format
tutorials_point_table[0]

,Invention,Inventor
0,Centigrade scale,Anders Celsius
1,Watch,Peter Henlein
2,Radio,Guglielmo Marconi
3,Telephone,Alexander Graham Bell
4,Electricity,Benjamin Franklin
5,Electric Light Bulb,Thomas Edison
6,Thermometer,Galileo Galilei
7,Telescope,Hans Lippershey and Zacharias Janssen; later G...
8,Telegraph,Samuel Morse
9,Cosmic Rays,Victor Hess (but the term ‘cosmic rays’ first ...
10,Automobile,Karl Benz
11,Magnetic Tape,Fritz Pfleumer
12,Transformer,Michael Faraday (later Ottó Titusz Bláthy)
13,Electromagnetic Induction,Michael Faraday
14,Quantum mechanics,"Werner Heisenberg, Max Born, and Pascual Jordan"
15,Wave mechanics,Erwin Schrödinger
16,Nuclear Reactor,Enrico Fermi
17,Fuel Cell,William Grove
18,Airplane,Wright Brothers
19,Barometer,Evangelista Torricelli
20,Camera,Nicéphore Niépce
21,Diesel Engine,Rudolf Diesel
22,Helicopter,Igor Sikorsky
23,Dynamite,Alfred Nobel
24,Lift,Elisha Otis
25,Laser Printer,Gary Starkweather
26,Mobile Phone,Martin Cooper
27,Printing Press,Johannes Gutenberg
28,Video Games,Ralph Baer
29,Steam engine,Thomas Newcomen
30,Railway Engine,George Stephenson
31,Jet Engine,Frank Whittle
32,Seismograph,John Milne
33,Electric Generator,Michael Faraday
34,Television,John Logie Baird
35,Refrigerator,William Cullen (later Oliver Evans)
36,Carburetor,Luigi De Cristoforis & Enrico Bernardi
37,Air Brake,George Westinghouse
38,Atomic bomb,"Robert Oppenheimer, Edward Teller et al"
39,Air conditioner,Willis Carrier
40,Machine Gun,Sir Hiram Maxim
41,Radar,Sir Robert Alexander Watson-Watt
42,Submarine,Cornelius Drebbel (later) David Bushnell
43,First military submarine,Yefim Nikonov
44,Transistor,"John Bardeen, Walter Brattain, and William Sho..."
45,Galvanometer,Johann Schweigger
46,Laser,Theodore H. Maiman (first demonstrated)
47,Neon lamp,Georges Claude
48,Rocket Engine,Robert Goddard
49,Typewriter,Christopher Latham Sholes

<h2>Store Fetched Table in CSV Format and Use basic operation on it...</h2>

In [4]:
# HTML Table to CSV Format Conversion
file_name = 'tutorialspoint_data_table.csv'
tutorials_point_table[0].to_csv(file_name, sep = ',')

In [5]:
# Read CSV Data From Data Table for Further Analysis
data = pd.read_csv("E:/GitHub Repositories/Data Warehouse and Mining/Web Scraping Using Python/Tutorialspoint/tutorialspoint_data_table.csv")

In [6]:
# Fetch Few Data from the Dataset
data.head(15)

,Unnamed: 0,Invention,Inventor
0,0,Centigrade scale,Anders Celsius
1,1,Watch,Peter Henlein
2,2,Radio,Guglielmo Marconi
3,3,Telephone,Alexander Graham Bell
4,4,Electricity,Benjamin Franklin
5,5,Electric Light Bulb,Thomas Edison
6,6,Thermometer,Galileo Galilei
7,7,Telescope,Hans Lippershey and Zacharias Janssen; later G...
8,8,Telegraph,Samuel Morse
9,9,Cosmic Rays,Victor Hess (but the term ‘cosmic rays’ first ...
10,10,Automobile,Karl Benz
11,11,Magnetic Tape,Fritz Pfleumer
12,12,Transformer,Michael Faraday (later Ottó Titusz Bláthy)
13,13,Electromagnetic Induction,Michael Faraday
14,14,Quantum mechanics,"Werner Heisenberg, Max Born, and Pascual Jordan"

In [7]:
# Remove Unnamed Column From the Data Set and Print Few Data
data = data.drop("Unnamed: 0", axis = 1)
data.head(15)

,Invention,Inventor
0,Centigrade scale,Anders Celsius
1,Watch,Peter Henlein
2,Radio,Guglielmo Marconi
3,Telephone,Alexander Graham Bell
4,Electricity,Benjamin Franklin
5,Electric Light Bulb,Thomas Edison
6,Thermometer,Galileo Galilei
7,Telescope,Hans Lippershey and Zacharias Janssen; later G...
8,Telegraph,Samuel Morse
9,Cosmic Rays,Victor Hess (but the term ‘cosmic rays’ first ...
10,Automobile,Karl Benz
11,Magnetic Tape,Fritz Pfleumer
12,Transformer,Michael Faraday (later Ottó Titusz Bláthy)
13,Electromagnetic Induction,Michael Faraday
14,Quantum mechanics,"Werner Heisenberg, Max Born, and Pascual Jordan"

In [8]:
# Print Data Count
data.count()

Invention    50
Inventor     50
dtype: int64

In [9]:
# Print Data Information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
Invention    50 non-null object
Inventor     50 non-null object
dtypes: object(2)
memory usage: 464.0+ bytes

In [10]:
# Describe Data Set
data.describe()

         Invention         Inventor
count           50               50
unique          50               49
top     Typewriter  Michael Faraday
freq             1                2